@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: white;
	background-color: black;
}

h1 {
	font-size: 1.25rem;
	background-color: #111;
	border-radius: 0.375rem;
	padding-left: 0.5rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

h2 {
	padding: 0.25rem;
}

button:active:enabled {
	transform: scale(0.95);
}

button:hover img {
	filter: invert(0);
}

button:disabled {
	background-color: #222;
	color: #444;
	border: #0000 2px solid;
}

img {
	filter: invert(1);
}

tr {
	display: flex;
	height: 2rem;
	padding-left: 0.5rem;
	align-items: center;
}

input {
	--tw-bg-opacity: 1;
	background-color: #111;
	border-radius: 0.375rem;
	text-decoration: white;
	color: white;
	padding: 0.25rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

form {
	display: flex;
	flex-direction: column;
}

.bg-5 {
	background-color: #555;
}

.bg-4 {
	background-color: #444;
}

.bg-3 {
	background-color: #333;
}

.bg-2 {
	background-color: #222;
}

.bg-1 {
	background-color: #111;
}

.clickable-none {
	background-color: #444;
	border: #666 2px solid;
}

.clickable-none:hover:enabled  {
	background: #ddd;
	color: #333;
}

.clickable-none:active:enabled  {
	background: #fff;
}

.clickable-cancel {
	background-color: #400;
	border: #800 2px solid;
}

.clickable-cancel:hover:enabled  {
	background: #d00;
}

.clickable-cancel:active:enabled  {
	background: #f66;
}

.clickable-save {
	background-color: #040;
	border: #080 2px solid;
}

.clickable-save:hover:enabled  {
	background: #0d0;
}

.clickable-save:active:enabled  {
	background: #8f8;
}

.clickable-info {
	background-color: #004;
	border: #008 2px solid;
}

.clickable-info:hover:enabled  {
	background: #00d;
}

.clickable-info:active:enabled  {
	background: #22f;
}